---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="en">
	<head class="">
		<BaseHead title={title} description={description} />
		
	</head>

	<body class="max-w-2xl text-left bg-white leading-normal text-gray-600">
		
		<main class="flex flex-row">
			<nav class="underline flex flex-col min-w-fit">
				<a href="">Back to posts</a>
				<a href="">Back to homepage</a>
			</nav>
		
			<article>
				<h1 class="text-2xl">{title}</h1>
				<FormattedDate date={pubDate} />
				{
					updatedDate && (
						<div class="">
							Last updated on <FormattedDate date={updatedDate} />
						</div>
					)
				}
				<hr />
				<slot />
			</article>
		</main>
		<Footer />
	</body>
</html>
